.div_form{
    display: flex;
    justify-content: center;
    background-color: rgb(217, 216, 216);
    padding-bottom: 30px;
    width:450px;
    margin-left: 500px;
}

.form_caption{
    display: flex;
    justify-content: center;
}

.div_student_level{
    padding-top: px;
}

.txtParticipants{
    padding: 10px;
}

#studLevel{
    width: 60;
    padding: 10px;
    margin-top: 5px;
}

#studLevel:focus{
    min-width: 60;
    width: auto;
}

#dtp_date{
    width: 155px;
    padding: 10px;
    margin-left: 5px;
}

#student_email, #student_number, #student_city, #student_state, 
#student_zip, #student_country{
    width: 160px;
    padding: 10px;
    margin-top: 5px;
}

#student_number, #student_state, #student_country{
    margin-left: 10px;
}

#student_address{
    margin-top: 12px;
    width: 358px;
    padding: 10px;
}

.btn_book{
    margin-top: 12px;
    background-color: rgb(131, 127, 131);
    width: 380px;
    height: 40px;
}